<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.libertsolutions.washington.apppropagandista">

    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="android.support.v14.preference" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator,UnusedAttribute">

        <!-- Splash Screen -->
        <activity
            android:name=".Controller.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela de Login -->
        <activity
            android:name=".Controller.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/app_login"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" />

        <!-- Tela Inicial -->
        <activity
            android:name=".Controller.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Tela Agenda -->
        <activity
            android:name=".Controller.AgendaActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_agenda"
            android:parentActivityName=".Controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.MainActivity" />
        </activity>

        <!-- Tela Medico -->
        <activity
            android:name=".Controller.MedicoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_medico"
            android:parentActivityName=".Controller.MainActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.MainActivity" />
        </activity>

        <!-- Tela Configurações -->
        <activity
            android:name=".Controller.ConfiguracaoActivity"
            android:label="@string/title_activity_configuracao"
            android:parentActivityName=".Controller.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Controller.MainActivity" />
        </activity>

        <!-- Tela Cadastro de Usuário -->
        <activity
            android:name=".Controller.UsuarioActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_usuario"
            android:parentActivityName=".Controller.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.LoginActivity" />
        </activity>

        <!-- Tela de Pesquisa -->
        <activity android:name=".Controller.MedicoSearchActivity">

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Tela Cadastrar Médico -->
        <activity
            android:name=".Controller.CadastroMedicoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_novomedico"
            android:parentActivityName=".Controller.MedicoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.MedicoActivity" />
        </activity>

        <!-- Tela Detalhes do Médico -->


        <!-- Tela Cadastrar Agenda -->
        <activity
            android:name=".Controller.CadastroCompromissoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_agenda_cadastrar"
            android:parentActivityName=".Controller.AgendaActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.AgendaActivity" />
        </activity>

        <!-- Tela Consultar Médico -->
        <activity
            android:name=".Controller.ConsultaMedicoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_consultar_medico"
            android:parentActivityName=".Controller.CadastroCompromissoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.CadastroCompromissoActivity" />
        </activity>

        <!-- Tela Detalhes Visita -->
        <activity
            android:name=".Controller.DetalhesVisitaActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_detalhes_visita"
            android:parentActivityName=".Controller.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.MainActivity" />
        </activity>

        <!-- Tela Detalhes Médico -->
        <activity
            android:name=".Controller.DetalhesMedicoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_medico_details"
            android:parentActivityName=".Controller.MedicoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.MedicoActivity" />
        </activity>

        <!-- Tela Sincronização -->
        <activity
            android:name=".Controller.SincronizarActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_sincronizar"
            android:parentActivityName=".Controller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.MainActivity" />
        </activity>

        <!-- Tela Finalizar Atendimento -->
        <activity
            android:name=".Controller.FinalizarVisita"
            android:label="@string/title_activity_finalizar_visita"
            android:parentActivityName=".Controller.AgendaActivity"></activity>
    </application>

</manifest>
